rom/*.rom
*.xml
*.bak
cores/*/mister/*
cores/*/mist/*
cores/*/sidi/*
cores/*/mcp/*
cores/*/mc2/*
cores/*/neptuno/*
*.bin
*.log
*.png
*.wav
*.raw
*.hex
*.f
*.jpg
*.fst
core.def
defmacros.h
history
waiver
game_test.v
modules/.DS_Store
